$blood-color: #780606;

.listOfTasks{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border:#ffffff solid 2px;
    width: 90%;
    height: calc(100% + 40px);
    border-bottom: none;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    background: url('/src/shared/assets/background/eye.gif') no-repeat center center/cover;
}

.taskBorder{
    height: 2px;
    background-color: rgba(61, 47, 0, 0.6);
    background-color: #ffffff;
}
.header{
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    word-wrap: break-word;
}
.switchText{
    font-family: 'Antique', serif;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    margin: 10px;
    word-break: break-all;
}
.scroll{
    height: calc(64%);
    width: 100%;
    height: 86%;
    padding-bottom: 40px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
}  
::-webkit-scrollbar {
    display: none;
}
.timer{
    color: #FFC700;
    font-family: 'tickingBomb', 'pixy';
    font-size: 88px;
    text-align: center;
    margin-right: 5%;
    margin-bottom: 5%;
}