$blood-color: #780606;


.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button{
        min-width: 250px;
        max-width: 400px;
        width: 100%;
        background-color: #fff;
        color: $blood-color;
        border-radius: 11px;
        border: 2px solid $blood-color;
        padding: 10px;
        cursor: pointer;
    }
    
    :nth-child(2){
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      flex-direction: row;
      align-items: flex-start;

        button{
            width: 100%;
            min-width: unset;
            background-color: #fff;
            color: $blood-color;
            border-radius: 11px;
            border: 2px solid $blood-color;
            padding: 5px;
            font-size: 25px !important;
            cursor: pointer;
        }


        :nth-child(2){
            margin: 0px;
        }
    }
}

.wrapper {
    min-width: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;

    background: url("./src/shared/assets/background/dvor.jpg")  no-repeat center center/cover;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
}


.listOfTasks{
    border-radius: 11px;
    border:rgb(255, 255, 255) solid 2px;
    background-color: $blood-color;
    background-color: #78060699;
    max-width: 638px;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.header{
    height: 100px;
    margin: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    word-wrap: break-word;
}

.stageSwitcherOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: -10px;
}

.taskBorder{
    height: 2px;
    width: 100%;
    background-color: #fff;
}

.switchText{
    font-size:32px;
    color: #fff;
    margin-right: 20px;
    font-family: "Antique";
}
.scroll{
    width: 100%;
    height: 86%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.locked {
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-family: 'Antique', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}