$blood-color: #780606;

.wrapper {
  margin: 40px;
}
*{
  font-family: 'Antique';
}
.authLoginSquare{
  font-size: 48px;
  margin-left: 10px;
  width: 100%;
  max-width: 348px;
  height: 55px;
  outline:none;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}
.authLogin, .authPassword{
  margin: 10px 0;
  display: flex;
  align-items: left;
  flex-direction:column;
  overflow: hidden;
  font-family: 'Antique';
}
.authLoginPassword{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.authLoginButton{
  min-width: 150px;
  width: 40%;
  display: inline-block;
  margin: 3%;
  border-radius: 11px;
  border: $blood-color solid 3px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  outline: none;
  cursor: pointer;
  padding: 4px;
  
  font-family: 'Antique';
  text-decoration: none;
  color: $blood-color;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

.authLoginSquare{
  margin-right: 30px;
  color: $blood-color;
  font-size: 48px;
  width: 450px;
  padding: 30px;
  border-radius: 11px;
  border:$blood-color solid 3px;
  background-color: #fff;
}


.form{
  margin-right: 70px;
}

.authError{
  color: $blood-color;
  font-size: 20px;
  font-family: 'Antique';
  margin: 0 20px 0 20px;
}

.butts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

input::placeholder {
  color: $blood-color !important;
}