$blood-color: #780606;

.cunt{
  display: flex;
  align-items: center;
  border:rgb(255, 255, 255) solid 2px;
  background-color: #fff;
  border-radius: 11px;
  padding: calc(2%);
  margin: 10px;
  width: 98%;
}
.nick, .balance, .email{
  font-size: 30px;
  font-family: 'Antique';
  word-break: break-all;
}
.nick{
  width: 30%;
  margin: 10px;
  color: $blood-color;
}
.balance{
  margin: 10px;
  margin-left: 50px;
  width: 10%;
  color: $blood-color;
}
.email{
  width: 40%;
  color: $blood-color;
  // margin-right: 20px;
}
.butt{
  width: 15%;
  padding: 3px;
  margin: 4px;
  align-self: center;
  background-color: #fff;
  border:$blood-color solid 2px;
  border-radius: 11px;
  color: $blood-color;
  height: 70%;
  font-size: 25px;
  cursor: pointer;
}